<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email}}" onClick="ga('send','event', 'contact', 'click', 'Send Email');"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/cody-hutchens-2b05756b" onClick="ga('send','event', 'contact', 'click', 'My LinkedIn');"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/protomock" onClick="ga('send','event', 'contact', 'click', 'My Github');"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/codythecoder91/" onClick="ga('send','event', 'contact', 'click', 'My Instagram');"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="https://docs.google.com/document/d/1bENtTYQm-5xARfKO4Lh1YmuVtr6yPqgot0_UxnE-s8s/edit?usp=sharing" onClick="ga('send','event', 'contact', 'click', 'My Resume');"><i class="icon fa fa-file"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
