<div class="user-details">
  <h1> Current Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/breakout_example.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Breakout RL</h3>
    <ul>
      <li>Reinforcement Learning</li>
      <li>Deep Learning</li>
      <li>Convolution</li>
    </ul>
    <p>Working on adapting my lunar lander DDQN algothrim to work with the Breakout game. This is being built using pytorch and openAI gym.</p>
    <a class="project-link" target="_blank" href="https://github.com/protomock/Breakout-RL">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bandit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Contextual Multi Armed Bandit</h3>
    <ul>
      <li>Reinforcement Learning</li>
      <li>Python</li>
    </ul>
    <p>Working on building my own A/B testing example using a Contextual Multi Armed Bandit. Until I get something more tangable to commit, check out the below link to read about what they are.</p>
    <a class="project-link" target="_blank" href="https://en.wikipedia.org/wiki/Multi-armed_bandit">Read about it here</a>
  </div>
</div>
